.u-section-1 .u-sheet-1 {
  min-height: 1339px;
}
.fadeInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }

  to {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
}

.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0,100%,0);
      transform: translate3d(0,100%,0);
  }

  to {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
}
.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -22px auto 0 123px;
}

.u-section-1 .u-text-3 {
  margin: -22px auto 0 241px;
}

.u-section-1 .u-text-4 {
  margin: -22px auto 0 339px;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 695px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-slide-1 {
  background-image: none;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-slide-3 {
  background-image: none;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-group-1 {
  width: 443px;
  min-height: 1334px;
  height: auto;
  margin: -400px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 0;
}

.u-section-1 .u-text-5 {
  width: 312px;
  margin: 29px auto 0 47px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 23px 30px 0 53px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 30px 0 53px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 35px 30px 0 53px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: 17px 30px 0 53px;
}

.u-section-1 .u-text-10 {
  margin: 27px 30px 0 53px;
}

.u-section-1 .u-text-11 {
  margin: 16px auto 0 54px;
}

.u-section-1 .u-image-1 {
  width: 65px;
  height: 65px;
  margin: 23px auto 0 54px;
}

.u-section-1 .u-text-12 {
  margin: -48px auto 0 139px;
}

.u-section-1 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: 11px auto 0 139px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 182px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 226px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 269px;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 207px 254px 0 49px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -19px 49px 0 254px;
}

.u-section-1 .u-text-15 {
  margin: 20px 254px 0 49px;
}

.u-section-1 .u-text-16 {
  margin: -18px 49px 0 254px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 26px 49px 0 254px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -21px 214px 0 49px;
}

.u-section-1 .u-text-19 {
  margin: 23px 49px 0 254px;
}

.u-section-1 .u-text-20 {
  margin: -15px 254px 0 49px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 21px 49px 0 254px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -21px 214px 0 49px;
}

.u-section-1 .u-text-23 {
  margin: 19px 254px 0 49px;
}

.u-section-1 .u-text-24 {
  margin: -21px 49px 0 254px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 695px;
  margin: -794px 0 368px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 426px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 10px;
}

.u-section-1 .u-text-25 {
  font-size: 1.5rem;
  width: 27px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-text-26 {
  font-size: 1.5rem;
  width: 78px;
  margin: -29px auto 0 39px;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  width: 72px;
  margin: 17px auto 0 3px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  margin: 11px 3px 0;
}

.u-section-1 .u-text-29 {
  margin: 37px 33px 0 3px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 104px auto 0;
  padding: 9px 60px 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 474px;
  background-image: linear-gradient(#079c97, #4fd896);
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px 10px;
}

.u-section-1 .u-text-30 {
  font-size: 1.5rem;
  margin: 7px 32px 0 auto;
}

.u-section-1 .u-text-31 {
  font-size: 1.5rem;
  margin: -29px auto 0 39px;
}

.u-section-1 .u-text-32 {
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-33 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-34 {
  margin: 25px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 109px 17px 0 auto;
  padding: 9px 60px 11px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-4 {
  padding: 21px 10px 8px;
}

.u-section-1 .u-text-35 {
  font-size: 1.5rem;
  margin: 5px 34px 0 auto;
}

.u-section-1 .u-text-36 {
  font-size: 1.5rem;
  width: 27px;
  margin: -29px auto 0 36px;
}

.u-section-1 .u-text-37 {
  font-size: 1.5rem;
  margin: 12px auto 0 36px;
}

.u-section-1 .u-text-38 {
  margin: 10px auto 0 36px;
}

.u-section-1 .u-text-39 {
  margin: 35px auto 0 36px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 113px auto 0 17px;
  padding: 9px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 106px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-2 {
    width: 98px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-3 {
    width: 98px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 388px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 20px;
    margin-right: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 570px;
    margin-top: -410px;
    margin-left: 61px;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -50px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 193px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 281px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 20px;
    margin-left: 279px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 193px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -103px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 102px;
    margin-right: 48px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -169px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 243px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 152px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -219px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -169px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 417px;
    margin-right: 253px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -195px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 220px;
    margin-right: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-35 {
    width: 78px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-37 {
    width: 94px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-38 {
    width: 155px;
  }

  .u-section-1 .u-text-39 {
    width: 117px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 344px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 403px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 431px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -515px;
    margin-left: 171px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 325px;
    margin-right: 210px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 56px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -78px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 69px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 311px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 434px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 466px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 261px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 155px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 214px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 306px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 309px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 256px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 54px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -106px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-37 {
    margin-top: 90px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3263px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -8px;
    margin-right: -178px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 123px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 2799px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 1321px;
    margin-top: -3195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-left: 106px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 15px;
    margin-left: 75px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 124px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 127px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -36px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 40px;
    margin-right: 233px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -32px;
    margin-right: 50px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 22px;
    margin-right: 225px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -22px;
    margin-right: 59px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 23px;
    margin-right: 40px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -36px;
    margin-right: 195px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 8px;
    margin-right: 73px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -34px;
    margin-right: 241px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 13px;
    margin-right: 73px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -28px;
    margin-right: 201px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 25px;
    margin-right: 225px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: -22px;
    margin-right: 73px;
    margin-left: 177px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 6px;
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -28px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-33 {
    margin-left: auto;
  }

  .u-section-1 .u-text-34 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 557px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 8px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: 23px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: -29px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-37 {
    margin-top: 55px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 109px;
    margin-left: auto;
  }
}